.swp
/public/*.css
.sass-cache
.DS_Store
/fire_app_log.txt
*.rdb
/tmp
*.gem
*.rbc
.bundle
.config
coverage
InstalledFiles
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
# YARD artifacts
.yardoc
_yardoc
doc/
